RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# Permitir acceso a archivos
<FilesMatch "\.(pdf|doc|docx|jpg|png)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>